Estimate the following product request.

<project_description>
{{ description }}
</project_description>

{% if attachments_text %}
<attachments>
{{ attachments_text }}
</attachments>
{% endif %}

{% if source_context %}

Retrieved historical source context for line-level citations:
{{ source_context }}
{% endif %}